@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
  --yellow: #D4AF37;
  --gray: #F6F6F6;
  --dark-gray: #777979;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
